@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication.Cookies

@{
    var fullName = User.FindFirstValue("FullName");
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/img/favicon.png">
    <title>
        Argon Dashboard by Creative Tim
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="~/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="~/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="~/css/argon-dashboard.css" rel="stylesheet" />
</head>

<body class="bg-gradient-faded-light">
    <div id="snackbar"></div>

    <script>
        // Check if TempData contains a message
        var message = '@TempData["Message"]';

        if (message) {
            var x = document.getElementById("snackbar");
            x.textContent = message;
            x.className = "show";
            setTimeout(function () {
                x.className = x.className.replace("show", "");
            }, 3000);
        }
    </script>
    <!-- Navbar Dark -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-faded-light z-index-3 py-3">
        <div class="container-fluid">
            <a class="text-white" href="/">
                <img src="https://image.invaluable.com/static/header/IN_Red32.svg" alt="Invaluable" width="200px"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end " id="navbarText">
                <div>
                    <ul class="navbar-nav me-auto mb-lg-0">
                        <li class="nav-item">
                            <a class="btn btn-primary my-auto me-1">
                                <span class="fa fa-heart"></span>
                                <span class="">Saved</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a href="#" class="btn btn-danger my-auto me-1"
                                   aria-label="Notifications Flyout" aria-expanded="false"
                                   data-bs-toggle="modal" data-bs-target="#modal-form">
                                    <span class="fa fa-bell "></span>
                                    <span class="user-name notranslate hidden-sm">Notifications</span>
                                </a>
                            }
                            else
                            {
                                <a href="/my-account/home" class="btn btn-danger my-auto me-1"
                                   aria-label="Notifications Flyout" aria-expanded="false">
                                    <span class="fa fa-bell "></span>
                                    <span class="user-name notranslate hidden-sm">Notifications</span>
                                </a>
                            }                         
                        </li>
                        
                        @if (!User.Identity.IsAuthenticated)
                        {
                        <li class="nav-item">
                            <button type="button" class="btn btn-block my-auto btn-white me-1" data-bs-toggle="modal" data-bs-target="#modal-form">
                                Form
                            </button>
                        </li>
                        <li class="nav-item">
                                <button type="button" class="btn bg-gradient-info my-auto btn-block" data-bs-toggle="modal" data-bs-target="#modal-signup">
                                Sign Up
                            </button>
                        </li>
                        }
                        else
                        {
                        <li class="nav-item">
                            <form action="/Logout">
                                <div class="log-in-container m-auto me-1 inline-block d-flex">
                                    <p style="margin-right:15px; margin-top:15px; font-weight:bold">@fullName</p>
                                        <a class="btn btn-default hidden-xs my-auto notranslate create-acct-link" id="signUpLink">
                                        Log out
                                    </a>
                                </div>
                            </form>
                        </li>
                        }                           
                    </ul>
                </div>              
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid mt-2">
        <div class="nav-wrapper position-relative">
            <ul class="nav nav-pills nav-fill p-1" role="tablist">
                <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab" href="#profile-tabs-simple" role="tab" aria-controls="profile" aria-selected="true">
                        My Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-1" data-bs-toggle="tab" href="#dashboard-tabs-simple" role="tab" aria-controls="dashboard" aria-selected="false">
                        Dashboard
                    </a>
                </li>
            </ul>
        </div>
    </div>
    @await Html.PartialAsync("Modals/Authenticate")


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        @RenderBody()
    </div>

    <h1>Hello, world!</h1>

    <!--   Core JS Files   -->
    <script src="~/js/core/popper.min.js"></script>
    <script src="~/js/core/bootstrap.min.js"></script>
    <script src="~/js/argon-dashboard.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>