.container-fluid {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto
}

.container-fluid:before,.container-fluid:after {
    display: table;
    content: " "
}

.container-fluid:after {
    clear: both
}

