@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="modal fade" id="modal-form" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header pb-0 text-left">
                        <h3 class="font-weight-bolder text-info text-gradient">Welcome back</h3>
                        <p class="mb-0">Enter your email and password to sign in</p>
                    </div>
                    <div class="card-body">
                        <form action="/Login" method="post">
                            <label>Email</label>
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="email-addon" name="email">
                            </div>
                            <label>Password</label>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="password-addon" name="pwd">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-round bg-gradient-info btn-lg w-100 mt-4 mb-0">Sign in</button>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix space-bottom text-center space-top-30">
                        <span class="dark-gray-text">You forgot password?</span>
                        <a href="#" class="text-danger text-gradient font-weight-bold" 
                            data-bs-toggle="modal" data-bs-target="#modal-forgot">Forgot password</a>
                    </div>
                    <div class="card-footer text-center pt-0 px-lg-2 px-1">
                        <p class="mb-4 text-sm mx-auto">
                            Don't have an account?
                            <a href="#" class="text-info text-gradient font-weight-bold"
                               data-bs-toggle="modal" data-bs-target="#modal-signup">Sign up</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-signup" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="exampleModalSignTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header pb-0 text-left">
                        <h3 class="font-weight-bolder text-primary text-gradient">Join us today</h3>
                        <p class="mb-0">Enter your email, password and informations to register</p>
                    </div>
                    <div class="card-body pb-3">
                        <form action="register" method="post">
                            <input type="text" placeholder="Enter your full name"
                                   class="form-control mt-2" name="fullName" required>
                            <input type="email" placeholder="Enter email address"
                                    class="form-control mt-2" name="email" required>
                            <input type="password" placeholder="Enter password" class="form-control mt-2"
                                    name="pwd" required>
                            <input type="tel" placeholder="Enter phone number" class="form-control mt-2"
                                    name="phone" pattern="[0-9]{10}" required>
                            <input type="date" placeholder="Date of birth" class="form-control mt-2"
                                    name="dob" required>
                            <input type="text" placeholder="Enter address" class="form-control mt-2"
                                    name="address" required>
                            <div class="text-center">
                                <button type="submit" class="btn bg-gradient-primary btn-lg btn-rounded w-100 mt-4 mb-0">Sign up</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center pt-0 px-sm-4 px-1">
                        <p class="mb-4 mx-auto">
                            Already have an account?
                            <a href="#" class="text-primary text-gradient font-weight-bold"
                                data-bs-toggle="modal" data-bs-target="#modal-form">Sign in</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-forgot" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="exampleModalSignTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card card-plain">
                    <div class="card-header pb-0 text-left">
                        <h3 class="font-weight-bolder text-danger text-gradient">Forgot Password?</h3>
                        <p class="mb-0">Enter your email to reset password</p>
                    </div>
                    <div class="card-body pb-3">
                        <form action="forgot-password" method="post">
                            <input type="email" placeholder="Enter email address"
                                    class="form-control mt-2" name="email" required>
                            <div class="text-center">
                                <button type="submit" class="btn bg-gradient-danger btn-lg btn-rounded w-100 mt-4 mb-0">Continue</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center pt-0 px-sm-4 px-1">
                        <p class="mb-4 mx-auto">
                            Already have an account?
                            <a href="#" class="text-primary text-gradient font-weight-bold"
                                data-bs-toggle="modal" data-bs-target="#modal-form">Sign in</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>