@{
    Layout = "~/Views/Shared/Layout02.cshtml";
    ViewData["Title"] = "Enter OTP";
}
<div class="container height-100 d-flex justify-content-center align-items-center">
    <div class="position-relative">
        <div class="card p-2 text-center">
            <h6>
                Please enter the one time OTP
                <br>
                to verify your account
            </h6>
            <div>
                <span>A OTP has been sent to your mail! Enter OTP to reset to password!</span>
            </div>

            <form action="enter-otp" method="post">
                <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
                    <input class="m-2 text-center form-control rounded" type="text" maxlength="6" name="otp" />
                </div>
                <div class="mt-4">
                    <button type="submit" class="btn btn-danger px-4 validate">Enter</button>
                </div>
            </form>
        </div>
    </div>
</div>